apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-jgtjmxkk
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-jgtjmxkk:d769b4e6b442f53f64f6f9630d0193b0fa3e03bd@sha256:119e2b10df05e7de4036df61762a71fd0e77fac346a647a1fcef6f7e0558f3ae
        name: container-image  
